#==--Codio--==============================
.codio

#==--SublimeText--========================
/*.sublime-project
*.sublime-workspace
Sbl-Project/

#==--Git--================================
.gitignore